<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/navigation %>

    <!--
    ==========================================
    Main content goes here ===================
    ==========================================
    -->
    <div class="container">
      <div class="profile-form">
        <% if(message != "") {%>
          <span class="my-flash"><%= message %></span>
          <% } %>
        <form role="form" method="post" action="/edit/profile" class="form">
          <input type="hidden" name="username" value="<%= user.username %>" />
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>" required />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="email" name="email" type="email" value="<%= user.email %>" required />
          </div>
          <div class="form-group">
            <label for="add1">Address:</label>
            <input class="form-control" id="add1" name="add1" value="<%= user.add1 %>" minLength=4 required />
          </div>
          <div class="form-group">
            <label for="add2">Address 2:</label>
            <input class="form-control" id="add2" name="add2" value="<%= user.add2 %>" minLength=4 />
          </div>
          <div class="form-group">
            <label for="add2">City:</label>
            <input class="form-control" id="city" name="city" value="<%= user.city %>" minLength=4 required />
          </div>
          <div class="form-group">
            <label for="state">State:</label>
            <input class="form-control" id="state" name="state" value="<%= user.state %>" minLength=2 maxLenth=2 required />
          </div>
          <div class="form-group">
            <label for="zipcode">Zipcode:</label>
            <input class="form-control" id="zipcode" name="zipcode" value="<%= user.zipcode %>" minLength=5 maxLength=5 type="number" required/>
          </div>
          <input class="btn btn-primary form-cotrol" type="submit" value="Update Info&nbsp;&raquo;" />
        </form>
      </div>
    </div>

    <!--
    ==========================================
    Main content ends here ===================
    ==========================================
    -->

    <% include ./partials/footer %>
  </body>
</html>
